h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 700;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/* Headings */
.big-heading {
  font-size: 3.5rem;
}

.section-heading {
  line-height: 1.5;

}
.container-fluid {
  padding: 7% 15%;
}
/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;

}
 /* Title Section */
 #title {
   text-align: left;
 /* added color under #title so that later when we want to add subtitles, we dont have to change the font color again */
 }
 #title .container-fluid {
   padding-top: 3%;
 }
 /* Title-Image */
 .title-image {
   width: 60%;
   transform: rotate(25deg);
   position: absolute;
   right: 30%;
   /* z-index: 0; don't have to write this because it is already at 0*/
 }

 .image-col {
   position: relative;
 }


/* Navigation Bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 100;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Features Sections */
#features {
  position: relative;
  /* has to be relative, not absolute, so that it keeps the flow of html */
  /*z-index: 1; don't even have to write this because both elements that you are trying to position are already positioned, and the features section is below the other in the HTML flow*/
}

.feature-title {
  font-size: 1.5rem;

}
.features-p {
  color: #8f8f8f;
}


.features-icon {
  color: #ef8172;
  font-size: 3rem;
  padding: 5%;
}

.features-icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
}

.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

/* Press Section */
#press {
  background-color: #ef8172;
}

.cta-button {
  margin: 2% 2%;
}

/* Footer Section */

.footer-icon {
  color: #000;
  margin: 0 1%;
}

.copyright-text {
  margin: 2%;
}

@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }
  #title {
    text-align: center;
  }
}
